
/* begining of my own styles */

body{
	max-width: 100%;
	overflow-x: hidden;
	/*background: #fce9e9;*/
}
#signup{ 
margin: 15px 0;

 }



#logo p { font-family: helvetica, Consolas, monospace; font-size: 2em; }
#logo p span{ 
	padding: 1px; }

#header p { display: inline-block; }

#signup_content{
	display: none;
	overflow: hidden; 
	transition: 1s;
}

:root{
	--myfirstcolor: #91A8D0;
	--mysecondcolor: #F7CAC9;
	--mythirdcolor: #fce9e9;
}

.myfirstcolor{ color: var(--myfirstcolor) }
.mysecondcolor{ color: var(--mysecondcolor) }
.myfirstcolor-b{ background-color: var(--myfirstcolor); }
.mysecondcolor-b{ background-color: var(--mysecondcolor); }
.mythirdcolor-b{ background-color: var(--mythirdcolor); }

/* theme color schemes settings */
.darktheme {	background-color: black;}
.darktheme p{ color: white;}
.darktheme form input { background-color: black;}
.darktheme .Connected .box, .darktheme .Projects .box {
	background-color: black;
	color: #e3e3e3;
	border-color: #666;
}
  
.theme {
	position: fixed;
	top: 2%;
	right: 0;
	border-radius: 7px;
	
}

.Connected, .Projects{ 
	margin: 5em 0;
	transition: 1s }

.Connected p, .Projects p { 
	border-left: 1px solid grey; 
	margin-left: 2em; 
	line-height: 2em;
	padding-left: 1em;
 }

.clear { clear: both; overflow: hidden; }


.illustrate { 
	position: relative; 
	width: 110px; height: 110px;  }
.box { 
	position: absolute;
	width: 25px; background-color: #e3e3e3;
	height: 25px;
	border: 1px solid black; }
.box2 { right: 0; }
.box3 { bottom: 0; }
.box4 { bottom: 0; right: 0; }
.midbox { 
	height: 60px; 
	width: 60px;
	border: 1px dashed #91A8D0;
	position: absolute;
	top: 25px; left: 25px; }

.Projects .illustrate{ width: 200px; }
.Projects .box { 
	width: 140px; height: 75px;
}
.Projects .box2 { left: 12px; top: 12px; }
.Projects .box3 { left: 24px; top: 24px; }
.Projects .box4 { left: 40px; top: 40px; }



.nodisplay { display: none; }

footer{
	border: 1px solid #e3e3e3;
}



@media only screen and (min-width: 600px){
	#logIn, .Connected, .play, .Projects, #signup, 
	#signup2, #signup3, .welcome { 
		width: 47%; }
	.Connected { float: right; }
	#signup2 { display: none; }
	#signup { float: right; }
	#logIn { float: left; margin-right: 2.2em;}
	.welcome { float: left; margin-top: 1em; }
	#login_or_register { display: block; }
	
	.Connected, .Projects { margin: 0; }
	#contents { margin: 1em auto; }

	#top_logIn { 
		display: block; 
		float: right;
		width: 68%;
		margin: 10px -10% 0 0; }
	#top_logIn p {margin: 5px; width: 30%; }
	#logo { float: left; width: 30%; margin: -20px 0 0 10px;}
	#header {
	 padding: 20px 0;
	 display: block;
	}

	#logIn{ display: none; }


}

@media only screen and (min-width: 800px) {
	#logIn, .Connected, 
	.play, .Projects, .welcome { float: left; width: 30%; }

	#signup3 { display: none; }
	main { width: 90%; margin: auto; background-color: white; }
	.Projects, .Connected, #logIn, #signup { margin-right: 2.2em; }
	 #signup{ float: right; width: 30%; }
	 #signup_content{height: 100%; padding: 10px; border-width: 0!important}
	 #signup span.w3-btn {display: none;}
	 #signup .closebtn{ display: none; }

	 #logo { margin-left: 75px; }

}
 


 